/*Quienes Somos*/
#quienes-somos {
    background-image: url(/img/bg.jpg);
    height: 500px; }
  
  #icon-quienes-somos img {
    width: 205px;
    height: 65px;
    float: left;
    padding-top: 265px;
    padding-left: 280px; 
}
  
.text-qs{
    padding-top: 150px;
    padding-right: 100px;
    float: right;
    width: 500px;
    color: white;
}
